<div class="container">
    <h1>Welcome</h1>
    <div class="row">
        <% @registrations = Registration.all %>
        <%= link_to "Users", registration_url(@registrations), class: 'btn btn-secondary' %>
        <%= link_to "Register", new_registration_path, class: 'btn btn-primary' %>
    </div>
</div>